In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')

In [3]:
train.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,...,type2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,...,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,EID_3891,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,...,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,EID_17492,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,...,type2,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
4,EID_22534,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,...,type3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827

In [4]:
train.shape, test.shape

((7000, 24), (3000, 23))

In [5]:
combine = train.append(test)
combine.shape

C:\Users\hungu\anaconda.x\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

(10000, 24)

In [6]:
combine.columns

Index(['Age', 'Attrition_rate', 'Compensation_and_Benefits',
       'Decision_skill_possess', 'Education_Level', 'Employee_ID', 'Gender',
       'Hometown', 'Pay_Scale', 'Post_Level', 'Relationship_Status',
       'Time_of_service', 'Time_since_promotion', 'Travel_Rate', 'Unit',
       'VAR1', 'VAR2', 'VAR3', 'VAR4', 'VAR5', 'VAR6', 'VAR7',
       'Work_Life_balance', 'growth_rate'],
      dtype='object')

In [7]:
combine.isnull().sum()

Age                           573
Attrition_rate               3000
Compensation_and_Benefits       0
Decision_skill_possess          0
Education_Level                 0
Employee_ID                     0
Gender                          0
Hometown                        0
Pay_Scale                      12
Post_Level                      0
Relationship_Status             0
Time_of_service               196
Time_since_promotion            0
Travel_Rate                     0
Unit                            0
VAR1                            0
VAR2                          794
VAR3                            0
VAR4                          954
VAR5                            0
VAR6                            0
VAR7                            0
Work_Life_balance              16
growth_rate                     0
dtype: int64

In [8]:
combine['Age'].describe()

count    9427.000000
mean       39.675507
std        13.574856
min        19.000000
25%        27.000000
50%        38.000000
75%        52.000000
max        65.000000
Name: Age, dtype: float64

In [9]:
combine['Age'].fillna(int(combine['Age'].mean()), inplace=True)
combine['Age'].describe()

count    10000.000000
mean        39.636800
std         13.181095
min         19.000000
25%         28.000000
50%         39.000000
75%         51.000000
max         65.000000
Name: Age, dtype: float64

combine['Age'].fillna(0, inplace=True)
bins= [0, 19,30,40,50,70]
labels = ['Unknown', 'Age_Tier1','Age_Tier2','Age_Tier3','Age_Tier4']
combine['Age'] = pd.cut(combine['Age'], bins=bins, labels=labels, right=False)
combine['Age'].value_counts()

In [10]:
combine['Compensation_and_Benefits'].value_counts()

type2    5686
type3    3346
type4     490
type0     280
type1     198
Name: Compensation_and_Benefits, dtype: int64

In [11]:
combine['Decision_skill_possess'].value_counts()

Behavioral    2535
Analytical    2501
Directive     2488
Conceptual    2476
Name: Decision_skill_possess, dtype: int64

In [12]:
combine['Education_Level'].value_counts()

3    4063
4    3018
2     982
1     979
5     958
Name: Education_Level, dtype: int64

In [13]:
combine['Gender'].value_counts()

F    5842
M    4158
Name: Gender, dtype: int64

In [14]:
combine['Hometown'].value_counts()

Lebanon        2953
Springfield    2484
Franklin       2181
Washington     1570
Clinton         812
Name: Hometown, dtype: int64

In [15]:
combine['Pay_Scale'].value_counts()

8.0     1964
6.0     1820
5.0     1640
4.0     1405
7.0     1163
9.0      703
2.0      383
3.0      366
10.0     314
1.0      230
Name: Pay_Scale, dtype: int64

In [16]:
combine['Pay_Scale'].fillna(int(combine['Pay_Scale'].mean()), inplace=True)
combine['Pay_Scale'].value_counts()

8.0     1964
6.0     1832
5.0     1640
4.0     1405
7.0     1163
9.0      703
2.0      383
3.0      366
10.0     314
1.0      230
Name: Pay_Scale, dtype: int64

In [17]:
combine['Post_Level'].value_counts()

3    3469
2    2514
1    1516
4    1486
5    1015
Name: Post_Level, dtype: int64

In [18]:
combine['Relationship_Status'].value_counts()

Married    6461
Single     3539
Name: Relationship_Status, dtype: int64

In [19]:
combine['Time_of_service'].describe()

count    9804.000000
mean       13.390657
std        10.311381
min         0.000000
25%         5.000000
50%        10.000000
75%        21.000000
max        43.000000
Name: Time_of_service, dtype: float64

In [20]:
combine['Time_of_service'].fillna(int(combine['Time_of_service'].mean()), inplace=True)
combine['Time_of_service'].describe()

count    10000.000000
mean        13.383000
std         10.209963
min          0.000000
25%          5.000000
50%         11.000000
75%         20.000000
max         43.000000
Name: Time_of_service, dtype: float64

combine['Time_of_service'].fillna(int(combine['VAR4'].mean())m, inplace=True)
bins= [-1, 0, 10, 20, 30, 40, 50]
labels = ['Unknown', 'TOS_Tier1','TOS_Tier2','TOS_Tier3','TOS_Tier4', 'TOS_Tier5']
combine['Time_of_service'] = pd.cut(combine['Time_of_service'], bins=bins, labels=labels, right=False)
combine['Time_of_service'].value_counts()

In [21]:
combine['Time_since_promotion'].value_counts()

2    2581
1    2574
3    2434
4    2187
0     224
Name: Time_since_promotion, dtype: int64

In [22]:
combine['Travel_Rate'].value_counts()

1    5499
0    3147
2    1354
Name: Travel_Rate, dtype: int64

In [23]:
combine['Unit'].value_counts()

IT                           1963
Logistics                    1648
Sales                        1389
Operarions                   1008
R&D                           991
Purchasing                    714
Accounting and Finance        679
Human Resource Management     513
Marketing                     319
Production                    292
Quality                       290
Security                      194
Name: Unit, dtype: int64

In [24]:
var_rating_cols = ['VAR1', 'VAR4', 'VAR5', 'VAR6', 'VAR7']
for var in var_rating_cols:
    print(combine[var].value_counts())

3    6025
4    1941
2    1026
1     510
5     498
Name: VAR1, dtype: int64
2.0    6369
1.0    1809
3.0     868
Name: VAR4, dtype: int64
3    3926
2    2993
4    2073
1     687
5     321
Name: VAR5, dtype: int64
8    3809
7    2509
6    1647
5    1283
9     752
Name: VAR6, dtype: int64
3    5619
4    1921
5    1149
2     899
1     412
Name: VAR7, dtype: int64

In [25]:
combine['VAR4'].fillna(int(combine['VAR4'].mean()), inplace=True)
combine['VAR4'].value_counts()

2.0    6369
1.0    2763
3.0     868
Name: VAR4, dtype: int64

In [26]:
combine['VAR2'].describe()

count    9206.000000
mean        0.002653
std         0.992949
min        -1.817600
25%        -0.961200
50%        -0.104800
75%         0.751600
max         1.608100
Name: VAR2, dtype: float64

In [27]:
combine['VAR2'].fillna(combine['VAR2'].mean(), inplace=True)
combine['VAR2'].describe()

count    10000.000000
mean         0.002653
std          0.952709
min         -1.817600
25%         -0.961200
50%          0.002653
75%          0.751600
max          1.608100
Name: VAR2, dtype: float64

In [28]:
combine['VAR3'].describe()

count    10000.000000
mean        -0.005826
std          0.990812
min         -2.776200
25%         -0.453700
50%         -0.453700
75%          0.707500
max          1.868800
Name: VAR3, dtype: float64

In [29]:
combine['Work_Life_balance'].value_counts()

1.0    2951
3.0    2858
2.0    2287
4.0    1719
5.0     169
Name: Work_Life_balance, dtype: int64

In [30]:
combine['Work_Life_balance'].fillna(int(combine['Work_Life_balance'].mean()), inplace=True)
combine['Work_Life_balance'].value_counts()

1.0    2951
3.0    2858
2.0    2303
4.0    1719
5.0     169
Name: Work_Life_balance, dtype: int64

In [31]:
combine['growth_rate'].describe()

count    10000.000000
mean        47.008400
std         15.848553
min         20.000000
25%         33.000000
50%         47.000000
75%         61.000000
max         74.000000
Name: growth_rate, dtype: float64

In [32]:
combine.isnull().sum()

Age                             0
Attrition_rate               3000
Compensation_and_Benefits       0
Decision_skill_possess          0
Education_Level                 0
Employee_ID                     0
Gender                          0
Hometown                        0
Pay_Scale                       0
Post_Level                      0
Relationship_Status             0
Time_of_service                 0
Time_since_promotion            0
Travel_Rate                     0
Unit                            0
VAR1                            0
VAR2                            0
VAR3                            0
VAR4                            0
VAR5                            0
VAR6                            0
VAR7                            0
Work_Life_balance               0
growth_rate                     0
dtype: int64

In [33]:
combine = pd.get_dummies(combine.drop('Employee_ID', axis=1))
combine.shape

(10000, 47)

In [34]:
combine.head()

,Age,Attrition_rate,Education_Level,Pay_Scale,Post_Level,Time_of_service,Time_since_promotion,Travel_Rate,VAR1,VAR2,...,Unit_IT,Unit_Logistics,Unit_Marketing,Unit_Operarions,Unit_Production,Unit_Purchasing,Unit_Quality,Unit_R&D,Unit_Sales,Unit_Security
0,42.0,0.1841,4,7.0,1,4.0,4,1,4,0.7516,...,1,0,0,0,0,0,0,0,0,0
1,24.0,0.0670,3,6.0,3,5.0,4,0,3,-0.9612,...,0,1,0,0,0,0,0,0,0,0
2,58.0,0.0851,3,8.0,2,27.0,3,0,4,-0.9612,...,0,0,0,0,0,0,1,0,0,0
3,26.0,0.0668,3,8.0,3,4.0,3,1,3,-1.8176,...,0,0,0,0,0,0,0,0,0,0
4,31.0,0.1827,1,2.0,3,5.0,4,1,1,0.7516,...,0,1,0,0,0,0,0,0,0,0

In [35]:
X = combine[combine['Attrition_rate'].isnull()!=True].drop(['Attrition_rate'], axis=1)
y = combine[combine['Attrition_rate'].isnull()!=True]['Attrition_rate'].reset_index(drop=True)

X_test = combine[combine['Attrition_rate'].isnull()==True].drop(['Attrition_rate'], axis=1)

X.shape, y.shape, X_test.shape

((7000, 46), (7000,), (3000, 46))

In [36]:
combine[combine['Attrition_rate'].isnull()!=True].to_csv('Train_Cleaned.csv', index=False)
test_clean = combine[combine['Attrition_rate'].isnull()==True]
test_clean['Attrition_rate'] = 0
test_clean.to_csv('Test_Cleaned.csv', index=False)

C:\Users\hungu\anaconda.x\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [37]:
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor

from sklearn.metrics import mean_squared_error

import lightgbm
import matplotlib.pyplot as plt
%matplotlib inline

In [38]:
err = []
y_pred_tot_lgm = []
features = X.columns
feature_importance_df = pd.DataFrame()

from sklearn.model_selection import KFold

fold = KFold(n_splits=15, shuffle=True)
i = 1
for train_index, test_index in fold.split(X, y):
    x_train, x_val = X.iloc[train_index], X.iloc[test_index]
    y_train, y_val = y[train_index], y[test_index]
    m = LGBMRegressor(boosting_type='gbdt',
                       max_depth=5,
                       learning_rate=0.05,
                       n_estimators=5000,
                       min_child_weight=0.01,
                       colsample_bytree=0.5)
    m.fit(x_train, y_train,
          eval_set=[(x_train,y_train),(x_val, y_val)],
          early_stopping_rounds=200,
          eval_metric='rmse',
          verbose=200)
    pred_y = m.predict(x_val)
    
    fold_importance_df = pd.DataFrame()
    fold_importance_df["Feature"] = features
    fold_importance_df["importance"] = m.feature_importances_
    fold_importance_df["fold"] = i + 1
    feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
    
    acc = 100 * max(0, 1 - np.sqrt(mean_squared_error(y_val, pred_y)))
    
    print(i, "err_lgm: ", acc)
    err.append(acc)
    pred_test = m.predict(X_test)
    i = i + 1
    y_pred_tot_lgm.append(pred_test)

Training until validation scores don't improve for 200 rounds
[200]	training's rmse: 0.16516	training's l2: 0.0272779	valid_1's rmse: 0.184337	valid_1's l2: 0.03398
Early stopping, best iteration is:
[39]	training's rmse: 0.180169	training's l2: 0.0324609	valid_1's rmse: 0.183003	valid_1's l2: 0.03349
1 err_lgm:  81.69972637428542
Training until validation scores don't improve for 200 rounds
[200]	training's rmse: 0.1664	training's l2: 0.0276888	valid_1's rmse: 0.175309	valid_1's l2: 0.0307334
Early stopping, best iteration is:
[1]	training's rmse: 0.186563	training's l2: 0.0348059	valid_1's rmse: 0.170909	valid_1's l2: 0.0292098
2 err_lgm:  82.90913743335638
Training until validation scores don't improve for 200 rounds
[200]	training's rmse: 0.165198	training's l2: 0.0272903	valid_1's rmse: 0.182596	valid_1's l2: 0.0333412
Early stopping, best iteration is:
[3]	training's rmse: 0.185832	training's l2: 0.0345335	valid_1's rmse: 0.177405	valid_1's l2: 0.0314725
3 err_lgm:  82.25949870340547
Training until validation scores don't improve for 200 rounds
[200]	training's rmse: 0.164958	training's l2: 0.0272113	valid_1's rmse: 0.194021	valid_1's l2: 0.0376441
Early stopping, best iteration is:
[8]	training's rmse: 0.183798	training's l2: 0.0337817	valid_1's rmse: 0.192142	valid_1's l2: 0.0369187
4 err_lgm:  80.78575092970337
Training until validation scores don't improve for 200 rounds
[200]	training's rmse: 0.165858	training's l2: 0.027509	valid_1's rmse: 0.175556	valid_1's l2: 0.03082
Early stopping, best iteration is:
[91]	training's rmse: 0.175457	training's l2: 0.0307851	valid_1's rmse: 0.173657	valid_1's l2: 0.0301569
5 err_lgm:  82.63426861023918
Training until validation scores don't improve for 200 rounds
[200]	training's rmse: 0.165541	training's l2: 0.0274038	valid_1's rmse: 0.183745	valid_1's l2: 0.0337621
Early stopping, best iteration is:
[36]	training's rmse: 0.181027	training's l2: 0.0327706	valid_1's rmse: 0.182853	valid_1's l2: 0.0334354
6 err_lgm:  81.71466304511712
Training until validation scores don't improve for 200 rounds
[200]	training's rmse: 0.163952	training's l2: 0.0268802	valid_1's rmse: 0.193084	valid_1's l2: 0.0372814
Early stopping, best iteration is:
[3]	training's rmse: 0.184965	training's l2: 0.0342121	valid_1's rmse: 0.188243	valid_1's l2: 0.0354354
7 err_lgm:  81.17571958182536
Training until validation scores don't improve for 200 rounds
[200]	training's rmse: 0.164721	training's l2: 0.027133	valid_1's rmse: 0.200792	valid_1's l2: 0.0403175
Early stopping, best iteration is:
[10]	training's rmse: 0.183315	training's l2: 0.0336043	valid_1's rmse: 0.198698	valid_1's l2: 0.0394809
8 err_lgm:  80.13020926884816
Training until validation scores don't improve for 200 rounds
[200]	training's rmse: 0.165463	training's l2: 0.0273781	valid_1's rmse: 0.184748	valid_1's l2: 0.0341318
Early stopping, best iteration is:
[27]	training's rmse: 0.181906	training's l2: 0.0330896	valid_1's rmse: 0.183094	valid_1's l2: 0.0335233
9 err_lgm:  81.69061744532297
Training until validation scores don't improve for 200 rounds
[200]	training's rmse: 0.164164	training's l2: 0.0269498	valid_1's rmse: 0.196958	valid_1's l2: 0.0387925
Early stopping, best iteration is:
[6]	training's rmse: 0.183885	training's l2: 0.0338137	valid_1's rmse: 0.195688	valid_1's l2: 0.0382939
10 err_lgm:  80.43116410339867
Training until validation scores don't improve for 200 rounds
[200]	training's rmse: 0.163257	training's l2: 0.0266527	valid_1's rmse: 0.209455	valid_1's l2: 0.0438714
Early stopping, best iteration is:
[2]	training's rmse: 0.183671	training's l2: 0.033735	valid_1's rmse: 0.207008	valid_1's l2: 0.0428524
11 err_lgm:  79.2991695953616
Training until validation scores don't improve for 200 rounds
[200]	training's rmse: 0.165463	training's l2: 0.0273781	valid_1's rmse: 0.178732	valid_1's l2: 0.031945
Early stopping, best iteration is:
[8]	training's rmse: 0.185007	training's l2: 0.0342277	valid_1's rmse: 0.176994	valid_1's l2: 0.031327
12 err_lgm:  82.30055160550536
Training until validation scores don't improve for 200 rounds
[200]	training's rmse: 0.165607	training's l2: 0.0274257	valid_1's rmse: 0.186741	valid_1's l2: 0.0348723
Early stopping, best iteration is:
[1]	training's rmse: 0.18565	training's l2: 0.0344659	valid_1's rmse: 0.184492	valid_1's l2: 0.0340373
13 err_lgm:  81.55079144284454
Training until validation scores don't improve for 200 rounds
[200]	training's rmse: 0.165888	training's l2: 0.0275188	valid_1's rmse: 0.173941	valid_1's l2: 0.0302554
Early stopping, best iteration is:
[32]	training's rmse: 0.181923	training's l2: 0.033096	valid_1's rmse: 0.173589	valid_1's l2: 0.0301331
14 err_lgm:  82.64109812277944
Training until validation scores don't improve for 200 rounds
[200]	training's rmse: 0.163999	training's l2: 0.0268956	valid_1's rmse: 0.197701	valid_1's l2: 0.0390858
Early stopping, best iteration is:
[1]	training's rmse: 0.185035	training's l2: 0.0342378	valid_1's rmse: 0.192543	valid_1's l2: 0.0370728
15 err_lgm:  80.74570075440549

In [39]:
np.mean(err, 0)

81.46453780109323

In [40]:
all_feat = feature_importance_df[["Feature", 
                                      "importance"]].groupby("Feature").mean().sort_values(by="importance", 
                                                                                           ascending=False)
all_feat.reset_index(inplace=True)
important_feat = list(all_feat['Feature'])
all_feat

                              Feature  importance
0                         growth_rate   44.866667
1                                 Age   44.600000
2                     Time_of_service   41.533333
3                           Pay_Scale   23.733333
4                                VAR2   21.133333
5                                VAR7   18.866667
6                   Work_Life_balance   18.333333
7                                VAR6   15.866667
8                                VAR1   14.466667
9                          Post_Level   14.000000
10               Time_since_promotion   13.000000
11                               VAR5   13.000000
12                               VAR3   12.000000
13                    Education_Level   11.933333
14                        Travel_Rate    8.800000
15                           Gender_F    8.466667
16  Decision_skill_possess_Behavioral    6.933333
17        Relationship_Status_Married    6.600000
18                               VAR4    6.600000
19                   Hometown_Lebanon    5.866667
20    Compensation_and_Benefits_type2    5.466667
21    Compensation_and_Benefits_type0    4.933333
22                            Unit_IT    4.733333
23                  Hometown_Franklin    4.533333
24                Hometown_Washington    4.533333
25               Hometown_Springfield    4.200000
26                           Gender_M    4.066667
27                           Unit_R&D    4.066667
28   Decision_skill_possess_Directive    3.733333
29                         Unit_Sales    3.733333
30    Compensation_and_Benefits_type3    3.666667
31  Decision_skill_possess_Analytical    3.600000
32  Decision_skill_possess_Conceptual    3.533333
33                    Unit_Purchasing    3.400000
34                    Unit_Operarions    2.666667
35         Relationship_Status_Single    2.666667
36                     Unit_Logistics    2.466667
37    Compensation_and_Benefits_type1    1.933333
38                   Hometown_Clinton    1.400000
39     Unit_Human Resource Management    0.800000
40                      Unit_Security    0.666667
41        Unit_Accounting and Finance    0.666667
42    Compensation_and_Benefits_type4    0.666667
43                    Unit_Production    0.400000
44                       Unit_Quality    0.333333
45                     Unit_Marketing    0.000000

In [41]:
df = X[important_feat]
corr_matrix = df.corr().abs()

upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

high_cor = [column for column in upper.columns if any(upper[column] > 0.98)]
print(len(high_cor))
print(high_cor)

2
['Gender_M', 'Relationship_Status_Single']

In [42]:
features = [i for i in important_feat if i not in high_cor]
print(len(features))
print(features)

44
['growth_rate', 'Age', 'Time_of_service', 'Pay_Scale', 'VAR2', 'VAR7', 'Work_Life_balance', 'VAR6', 'VAR1', 'Post_Level', 'Time_since_promotion', 'VAR5', 'VAR3', 'Education_Level', 'Travel_Rate', 'Gender_F', 'Decision_skill_possess_Behavioral', 'Relationship_Status_Married', 'VAR4', 'Hometown_Lebanon', 'Compensation_and_Benefits_type2', 'Compensation_and_Benefits_type0', 'Unit_IT', 'Hometown_Franklin', 'Hometown_Washington', 'Hometown_Springfield', 'Unit_R&D', 'Decision_skill_possess_Directive', 'Unit_Sales', 'Compensation_and_Benefits_type3', 'Decision_skill_possess_Analytical', 'Decision_skill_possess_Conceptual', 'Unit_Purchasing', 'Unit_Operarions', 'Unit_Logistics', 'Compensation_and_Benefits_type1', 'Hometown_Clinton', 'Unit_Human Resource Management', 'Unit_Security', 'Unit_Accounting and Finance', 'Compensation_and_Benefits_type4', 'Unit_Production', 'Unit_Quality', 'Unit_Marketing']

In [43]:
from xgboost import XGBRegressor
from sklearn.model_selection import KFold

errxgb = []
y_pred_tot_xgb = []

fold = KFold(n_splits=15, shuffle=True)
i = 1
for train_index, test_index in fold.split(X, y):
    x_train, x_val = X.iloc[train_index], X.iloc[test_index]
    y_train, y_val = y[train_index], y[test_index]
    m = XGBRegressor(boosting_type='gbdt',
                      max_depth=5,
                      learning_rate=0.08,
                      n_estimators=5000,
                      random_state=1994)
    m.fit(x_train, y_train,
          eval_set=[(x_train,y_train),(x_val, y_val)],
          early_stopping_rounds=200,
          eval_metric='rmse',
          verbose=200)
    pred_y = m.predict(x_val)
    acc = 100 * max(0, 1 - np.sqrt(mean_squared_error(y_val, pred_y)))

    print(i, "err_xgb: ", acc)
    errxgb.append(acc)
    pred_test = m.predict(X_test)
    i = i + 1
    y_pred_tot_xgb.append(pred_test)

C:\Users\hungu\anaconda.x\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[16:36:41] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:0.340184	validation_1-rmse:0.347222
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.
[200]	validation_0-rmse:0.140313	validation_1-rmse:0.178271
Stopping. Best iteration:
[68]	validation_0-rmse:0.166029	validation_1-rmse:0.174727

1 err_xgb:  82.5273079833931
[16:36:59] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:0.341096	validation_1-rmse:0.333656
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.

C:\Users\hungu\anaconda.x\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[200]	validation_0-rmse:0.14174	validation_1-rmse:0.177114
Stopping. Best iteration:
[42]	validation_0-rmse:0.172375	validation_1-rmse:0.175247

2 err_xgb:  82.47526290950987
[16:37:16] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:0.340957	validation_1-rmse:0.336105
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.

C:\Users\hungu\anaconda.x\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[200]	validation_0-rmse:0.141014	validation_1-rmse:0.186789
Stopping. Best iteration:
[41]	validation_0-rmse:0.171811	validation_1-rmse:0.181461

3 err_xgb:  81.85394355429622

C:\Users\hungu\anaconda.x\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[16:37:31] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:0.340451	validation_1-rmse:0.343444
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.
[200]	validation_0-rmse:0.139718	validation_1-rmse:0.19525
Stopping. Best iteration:
[44]	validation_0-rmse:0.170519	validation_1-rmse:0.192084

4 err_xgb:  80.79160219116555
[16:37:47] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:0.340617	validation_1-rmse:0.340995
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.

C:\Users\hungu\anaconda.x\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[200]	validation_0-rmse:0.140962	validation_1-rmse:0.192537
Stopping. Best iteration:
[45]	validation_0-rmse:0.171147	validation_1-rmse:0.18742

5 err_xgb:  81.25802144344661
[16:38:04] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:0.340878	validation_1-rmse:0.3372
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.

C:\Users\hungu\anaconda.x\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[200]	validation_0-rmse:0.139383	validation_1-rmse:0.201664
Stopping. Best iteration:
[32]	validation_0-rmse:0.175265	validation_1-rmse:0.198768

6 err_xgb:  80.12321580410662
[16:38:20] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:0.341124	validation_1-rmse:0.332794
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.

C:\Users\hungu\anaconda.x\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[200]	validation_0-rmse:0.138639	validation_1-rmse:0.21038
Stopping. Best iteration:
[27]	validation_0-rmse:0.176204	validation_1-rmse:0.205067

7 err_xgb:  79.4933324790639
[16:38:35] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:0.340395	validation_1-rmse:0.344628
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.

C:\Users\hungu\anaconda.x\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[200]	validation_0-rmse:0.142206	validation_1-rmse:0.183392
Stopping. Best iteration:
[85]	validation_0-rmse:0.162654	validation_1-rmse:0.181479

8 err_xgb:  81.85206301173568
[16:38:56] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:0.341049	validation_1-rmse:0.334174
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.

C:\Users\hungu\anaconda.x\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[200]	validation_0-rmse:0.141397	validation_1-rmse:0.178519
Stopping. Best iteration:
[40]	validation_0-rmse:0.173277	validation_1-rmse:0.173075

9 err_xgb:  82.69254096699264

C:\Users\hungu\anaconda.x\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[16:39:11] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:0.339945	validation_1-rmse:0.351664
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.
[200]	validation_0-rmse:0.139794	validation_1-rmse:0.195984
Stopping. Best iteration:
[47]	validation_0-rmse:0.17023	validation_1-rmse:0.189408

10 err_xgb:  81.05921246442277
[16:39:28] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\hungu\anaconda.x\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[0]	validation_0-rmse:0.340323	validation_1-rmse:0.345292
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.
[200]	validation_0-rmse:0.14164	validation_1-rmse:0.184799
Stopping. Best iteration:
[51]	validation_0-rmse:0.170528	validation_1-rmse:0.181399

11 err_xgb:  81.86009066195604
[16:39:45] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\hungu\anaconda.x\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[0]	validation_0-rmse:0.340753	validation_1-rmse:0.339652
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.
[200]	validation_0-rmse:0.140878	validation_1-rmse:0.187702
Stopping. Best iteration:
[38]	validation_0-rmse:0.17319	validation_1-rmse:0.178444

12 err_xgb:  82.1555537046764

C:\Users\hungu\anaconda.x\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[16:40:02] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:0.340567	validation_1-rmse:0.341743
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.
[200]	validation_0-rmse:0.140377	validation_1-rmse:0.181578
Stopping. Best iteration:
[46]	validation_0-rmse:0.171521	validation_1-rmse:0.178413

13 err_xgb:  82.15868345622437

C:\Users\hungu\anaconda.x\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[16:40:21] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:0.340513	validation_1-rmse:0.343398
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.
[200]	validation_0-rmse:0.140126	validation_1-rmse:0.195663
Stopping. Best iteration:
[45]	validation_0-rmse:0.171507	validation_1-rmse:0.190822

14 err_xgb:  80.91780257842657
[16:40:40] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:0.340434	validation_1-rmse:0.342042
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.

C:\Users\hungu\anaconda.x\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[200]	validation_0-rmse:0.139762	validation_1-rmse:0.216027
Stopping. Best iteration:
[37]	validation_0-rmse:0.172132	validation_1-rmse:0.210611

15 err_xgb:  78.93885419079551

In [44]:
np.mean(errxgb, 0)

81.34383249334746

In [45]:
from catboost import CatBoostRegressor,Pool, cv
errCB = []
y_pred_tot_cb = []

fold = KFold(n_splits=10)
i = 1
for train_index, test_index in fold.split(X,y):
    x_train, x_val = X.iloc[train_index], X.iloc[test_index]
    y_train, y_val = y[train_index], y[test_index]
    m = CatBoostRegressor(n_estimators=5000,
                          learning_rate=0.08, 
                          depth=8)
    m.fit(x_train, y_train,
          eval_set=[(x_train,y_train),(x_val, y_val)],
          early_stopping_rounds=200,
          verbose=200)
    pred_y = m.predict(x_val)
    
    acc = 100 * max(0, 1 - np.sqrt(mean_squared_error(y_val, pred_y)))
    print(i, "err_cb: ",acc)
    errCB.append(acc)
    pred_test = m.predict(X_test)
    i = i + 1
    y_pred_tot_cb.append(pred_test)

0:	learn: 0.1864494	test: 0.1864494	test1: 0.1772535	best: 0.1772535 (0)	total: 467ms	remaining: 38m 54s
200:	learn: 0.1360087	test: 0.1360087	test1: 0.1800592	best: 0.1771457 (2)	total: 4.66s	remaining: 1m 51s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.1771457284
bestIteration = 2

Shrink model to first 3 iterations.
1 err_cb:  82.28542722063474
0:	learn: 0.1857743	test: 0.1857743	test1: 0.1835606	best: 0.1835606 (0)	total: 32.9ms	remaining: 2m 44s
200:	learn: 0.1350433	test: 0.1350433	test1: 0.1863303	best: 0.1835082 (1)	total: 2.81s	remaining: 1m 7s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.183508152
bestIteration = 1

Shrink model to first 2 iterations.
2 err_cb:  81.64918483021081
0:	learn: 0.1868597	test: 0.1868597	test1: 0.1720568	best: 0.1720568 (0)	total: 12.2ms	remaining: 1m
200:	learn: 0.1363760	test: 0.1363760	test1: 0.1771013	best: 0.1718957 (2)	total: 3.41s	remaining: 1m 21s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.1718957044
bestIteration = 2

Shrink model to first 3 iterations.
3 err_cb:  82.81042949964159
0:	learn: 0.1853357	test: 0.1853357	test1: 0.1868938	best: 0.1868938 (0)	total: 108ms	remaining: 9m
200:	learn: 0.1376522	test: 0.1376522	test1: 0.1881518	best: 0.1862232 (51)	total: 3.52s	remaining: 1m 23s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.1862231719
bestIteration = 51

Shrink model to first 52 iterations.
4 err_cb:  81.37768274505504
0:	learn: 0.1844282	test: 0.1844282	test1: 0.1943457	best: 0.1943457 (0)	total: 66.2ms	remaining: 5m 30s
200:	learn: 0.1365372	test: 0.1365372	test1: 0.1936632	best: 0.1934742 (109)	total: 2.34s	remaining: 55.9s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.1934741651
bestIteration = 109

Shrink model to first 110 iterations.
5 err_cb:  80.65258344269733
0:	learn: 0.1861335	test: 0.1861335	test1: 0.1795980	best: 0.1795980 (0)	total: 73.2ms	remaining: 6m 6s
200:	learn: 0.1352131	test: 0.1352131	test1: 0.1833992	best: 0.1795098 (8)	total: 2.46s	remaining: 58.8s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.1795098195
bestIteration = 8

Shrink model to first 9 iterations.
6 err_cb:  82.04901810730463
0:	learn: 0.1857620	test: 0.1857620	test1: 0.1825381	best: 0.1825381 (0)	total: 16.7ms	remaining: 1m 23s
200:	learn: 0.1353053	test: 0.1353053	test1: 0.1857973	best: 0.1821138 (7)	total: 2.39s	remaining: 57.1s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.1821138068
bestIteration = 7

Shrink model to first 8 iterations.
7 err_cb:  81.78861928471845
0:	learn: 0.1857353	test: 0.1857353	test1: 0.1821479	best: 0.1821479 (0)	total: 30ms	remaining: 2m 30s
200:	learn: 0.1361913	test: 0.1361913	test1: 0.1841662	best: 0.1820737 (5)	total: 2.71s	remaining: 1m 4s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.1820736834
bestIteration = 5

Shrink model to first 6 iterations.
8 err_cb:  81.79263164633703
0:	learn: 0.1828223	test: 0.1828223	test1: 0.2082839	best: 0.2082839 (0)	total: 11.7ms	remaining: 58.3s
200:	learn: 0.1350290	test: 0.1350290	test1: 0.2085373	best: 0.2076364 (49)	total: 3.46s	remaining: 1m 22s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.2076364031
bestIteration = 49

Shrink model to first 50 iterations.
9 err_cb:  79.23635968562735
0:	learn: 0.1851794	test: 0.1851794	test1: 0.1885256	best: 0.1885256 (0)	total: 38.2ms	remaining: 3m 11s
200:	learn: 0.1334413	test: 0.1334413	test1: 0.1891607	best: 0.1882851 (75)	total: 3.05s	remaining: 1m 12s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.1882850744
bestIteration = 75

Shrink model to first 76 iterations.
10 err_cb:  81.17149248741566

In [46]:
np.mean(errCB, 0)

81.48134289496427

In [47]:
from sklearn.ensemble import RandomForestRegressor
errrf = []
y_pred_tot_rf = []

fold = KFold(n_splits=15, shuffle=True)
i = 1
for train_index, test_index in fold.split(X,y):
    x_train, x_val = X.iloc[train_index], X.iloc[test_index]
    y_train, y_val = y[train_index], y[test_index]
    m = RandomForestRegressor(n_estimators=500, 
                              max_depth=5)
    m.fit(x_train, y_train)
    pred_y = m.predict(x_val)
    
    acc = 100 * max(0, 1 - np.sqrt(mean_squared_error(y_val, pred_y)))
    print(i, "err_rf: ",acc)
    errrf.append(acc)
    pred_test = m.predict(X_test)
    i = i + 1
    y_pred_tot_rf.append(pred_test)

1 err_rf:  80.70591877979288
2 err_rf:  84.05406679333551
3 err_rf:  81.5066557384491
4 err_rf:  81.60505506298131
5 err_rf:  79.59576086082564
6 err_rf:  82.88474963012258
7 err_rf:  81.9970072037085
8 err_rf:  81.60875646826852
9 err_rf:  81.68450178756994
10 err_rf:  80.99226526077213
11 err_rf:  80.1559753542003
12 err_rf:  79.64741261822618
13 err_rf:  80.60547107832286
14 err_rf:  82.16602951772434
15 err_rf:  82.16989971741572

In [48]:
np.mean(errrf)

81.42530172478105

In [49]:
(np.mean(errxgb, 0) + np.mean(err, 0) + np.mean(errCB, 0) + np.mean(errrf, 0))/4

81.4287537285465

In [50]:
submission = pd.DataFrame()
submission['Employee_ID'] = test['Employee_ID']
submission['Attrition_rate'] = (np.mean(y_pred_tot_xgb, 0) + 
                                np.mean(y_pred_tot_lgm, 0) + 
                                np.mean(y_pred_tot_cb, 0) + 
                                np.mean(y_pred_tot_rf, 0))/4
submission.to_csv('Stacking.csv', index=False)

In [51]:
submission.head()

  Employee_ID  Attrition_rate
0   EID_22713        0.202048
1    EID_9658        0.216531
2   EID_22203        0.190949
3    EID_7652        0.191930
4    EID_6516        0.199828